<td class="<%= dangerDay %>"><%= dateShow %></td>
<td class="<%= dangerDay %>">
    <%= weight %>
    <i class="glyphicon glyphicon-chevron-down text-success weight-down" style="display: none;"></i>
    <i class="glyphicon glyphicon-chevron-up text-danger weight-up" style="display: none;"></i>
</td>
<td class="<%= dangerDay %>"><%= bmr %> / <span class="dangerDayText"><%= calories %></span></td>
<td class="<%= dangerDay %>"><%= carbs %></td>
<td class="<%= dangerDay %> <%= dangerProtein %> <%= warningProtein %>"><%= proteinIntake %> / <span class="dangerDayText warningDayText"><%= protein %></span></td>
<td class="<%= dangerDay %>"><%= fat %></td>
