<div class="col-xs-12">

    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" value="<%= name %>">
    </div>
    <div class="form-group">
        <label>Quantity</label>
        <input type="number" class="form-control" name="quantity" value="<%= quantity %>">
    </div>
    <div class="form-group">
        <label>Unity</label>
        <input type="text" class="form-control" name="unity" value="<%= unity %>">
    </div>
    <div class="form-group">
        <label>Calories</label>
        <input type="number" class="form-control" name="calories" value="<%= calories %>">
    </div>
    <div class="form-group">
        <label>Protein</label>
        <input type="number" class="form-control" name="protein" value="<%= protein %>">
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" name="description"><%= description %></textarea>
    </div>

    <div class="col-xs-12">
        <div class="btn btn-success pull-right btn-save">Save</div>
    </div>

</div>