<div class="col-xs-12">

    <div class="form-group">
        <label>Date</label>
        <div class="createdAtShow"></div>
    </div>
    <div class="form-group">
        <label>Food</label>
        <input type="number" class="form-control" name="food" value="<%= food %>">
    </div>
    <div class="form-group">
        <label>Quantity</label>
        <input type="number" class="form-control" name="quantity" value="<%= quantity %>">
    </div>


    <div class="col-xs-12">
        <div class="btn btn-success pull-right btn-save">Save</div>
    </div>

</div>