@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
/*@import '../node_modules/bootstrap/dist/css/bootstrap-theme.min.css';*/
@import 'theme.min.css';
/*@import 'ios8.css';*/
/*@import '../node_modules/bootstrap/dist/css/bootstrap-reset.css';*/

@import '../node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css';

@import 'typeaheadjs.css';


/* navbar menu fix */
@media (max-width: 767px) {
    .app-menu .visible-xs {
        display: inline-block !important;
    }
}

*, *:focus, *:active, *:hover  {
    outline: none !important;
}

.app-module {
    overflow-x: hidden;
}

.form-footer {
    margin-top: 20px;
}
.dangerCalories .dangerDayText,
.dangerProtein .dangerDayText,
.warningProtein .dangerDayText {
    font-weight: bold;
}
.dangerCalories .dangerDayText,
.dangerProtein .dangerDayText {
    color: red;
}
.warningProtein .dangerDayText {
    color: #f0ad4e;
}

.clickable {
    cursor: pointer;
}

.danger .list-item-header {
    border-bottom: 1px solid #f5f5f5;
}

.list-item-header {
    border-bottom: 1px solid #e5e5e5;
}
.list-item {
    border-top: 10px solid #2b3e50 !important;
}



.btn-white {
    background-color: #fff;
    color: #666;
}
.btn-white:hover, .btn-white:focus {
    color: #333;
}
.btn-white:active {
    box-shadow: none;
}

.btn-default {
    background-color: #465A70;
}

.bg-white {
    background-color: #fff;
}

/* ios */
.navbar.navbar-default {
    padding-top: 15px;
}


