<div class="col-xs-12">

    <div class="form-group">
        <label>Date</label>
        <div class="createdAtShow"></div>
    </div>
    <div class="form-group">
        <label>Weight</label>
        <input type="number" class="form-control" name="weight" value="<%= weight %>">
    </div>
    <div class="form-group">
        <label>Fat Leg</label>
        <input type="number" class="form-control" name="leg" value="<%= leg %>">
    </div>
    <div class="form-group">
        <label>Fat Chest / Arm</label>
        <input type="text" class="form-control" name="chest" value="<%= chest %>">
    </div>
    <div class="form-group">
        <label>Fat Belly / Anca</label>
        <input type="number" class="form-control" name="belly" value="<%= belly %>">
    </div>


    <div class="col-xs-12">
        <div class="btn btn-success pull-right btn-save">Save</div>
    </div>

</div>